<template name="Graph">
    <h1>Eiffel CI Visulaization for Decision Support!</h1>
    <h3 align="center">Timeline: Move/Scroll side ways to change date range: To zoom in and zoom out, put cursor on the timeline and then use mouse wheel/drag.</h3>

    <button id="button1" style= "display: none" type="button">Click Me! </button>

    <div id="timeline"></div>

    <div id="divBtnHide" align="center">
        <br>
        <button id="btnHide" type="button">Hide Heatmap </button>
    </div>

    <div id="divDateLabel1">
        <br>
        <label for="lblDate1"></label>
    </div>

    <div id="container" style="width: 1000px; height: 800px; margin-top: 10px; margin-right: 10px; margin-left: 400px; margin-bottom: 100px"></div>

    <div id="aggGraph-containerHM" style="height:400px; width:100%; margin-top: 100px; margin-left: 110px;"></div>

    <div id="graph-container" style="height:8000px; width:100%; margin-top: 10px"> </div>
</template>