<head>
    <title>Eiffel</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.0/vis.min.js"></script>
    <!-- <script src="vis.min.js"></script> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.0/vis.min.css" rel="stylesheet" type="text/css" />
    <!-- <script src="vis.min.css"></script> -->

    <link rel="stylesheet" type="text/css" href="d3.timeline.event-horizon.css">

    <script src="d3.timeline.event-horizon.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <!-- <script src="d3.min.js"></script> -->

    <script src="d3-timeline.js"></script>
</head>